@import './themes/dark';
@import './themes/light';
@import './themes/pink';
@import './variables/global';
@import './reset';

body {
  overflow: hidden;
  color: var(--primary-color);
  font: var(--font-m);
}

.app {
  min-height: 100vh;
  background: var(--primary-bg-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  height: calc(100vh - var(--navbar-height));
  padding: 20px;
  overflow-y: auto;
}
