.select-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
}

.label {
  position: absolute;
  top: 20px;
  left: 12px;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  transform: translate3d(0, 0, 0);
  transform-origin: 0 0;
  transition: all 0.2s ease;
  pointer-events: none;
}

.focus-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 5%);
  transform: scaleX(0);
  transform-origin: left;
}

.select {
  width: 100%;
  min-width: 300px;
  height: 56px;
  padding: 16px 12px 0;
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  font-family: inherit;
  background: rgb(0 0 0 / 10%);
  border: 0;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 30%);
  transition: all 0.15s ease;
  appearance: none;
  caret-color: var(--primary-color);

  &:hover {
    background: rgb(0 0 0 / 4%);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 50%);
  }

  &:not(:placeholder-shown) + .label {
    color: var(--primary-color);
    transform: translate3d(0, -12px, 0) scale(0.75);
  }

  &:focus {
    background: rgb(0 0 0 / 5%);
    outline: none;
    box-shadow: inset 0 -2px 0 var(--primary-color);

    .label {
      color: var(--primary-color);
      transform: translate3d(0, -12px, 0) scale(0.75);

      .focus-bg {
        transform: scaleX(1);
        transition: all 0.1s ease;
      }
    }
  }
}

.readonly {
  opacity: 0.5;
}
