.popover {
  position: relative;

  .btn {
    margin: 0;
    padding: 0;
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
  }

  .panel {
    position: absolute;
    z-index: var(--dropdown-z-index);
    min-width: 300px;
    overflow: hidden;
    background: var(--secondary-bg-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
  }
}

.panel.top-left {
  left: 0;
}

.panel.top-right {
  right: 0;
}
