.sidebar{
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background: var(--inverted-bg-color);
    position: relative;
    transition: width .5s;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 20px;
    width: 100%;
    gap: 20px;
}
