.sidebar {
  position: relative;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height) - 30px);
  margin: 15px;
  padding: 25px 0 0 3px;
  background: var(--secondary-bg-color);
  border-radius: 16px;
  transition: width 0.5s;
}

.btn-collapse {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
  transition: width 0.5s;
  fill: var(--primary-color);
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  span {
    display: none;
  }

  .btn-collapse {
    transform: rotate(-90deg);
  }
}

.switchers {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  justify-content: start;
  width: 100%;
  margin-left: 20px;
}

.switcher {
  transition: width 0.9s;
}
