.comment {
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;

  .avatar-wrapper {
    flex-grow: 1;
    max-width: 60px;
    text-align: center;

    .avatar {
      object-fit: cover;
    }
  }

  .content {
    flex-grow: 9;
  }
}
