.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 20px;
  background: var(--secondary-bg-color);
}

.links {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.login-btn {
  text-decoration: underline;
}
