.modal {
  position: fixed;
  inset: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

.content {
  max-width: 60%;
  padding: 20px;
  color: var(--primary-color);
  background-color: var(--secondary-bg-color);
  border-radius: 12px;
  transform: scale(0.5);
  transition: 0.3s transform;
}

.opened {
  z-index: var(--modal-z-index);
  opacity: 1;
  pointer-events: auto;

  .content {
    transform: scale(1);
  }
}

.is-closing,
.is-opening {
  .content {
    transform: scale(0.5);
  }
}
