.page-error {
  position: absolute;
  width: 100%;
  height: 100vh;
  font: var(--font-size-m) var(--font-family-main) !important;
  background-color: var(--error-page-bg-color);
  inset: 0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.text {
  margin: 0;
  color: var(--error-page-primary-color);
  font-size: var(--font-size-l);
  letter-spacing: 0.2px;
  text-align: left;
}

.handle {
  position: absolute;
  top: 0;
  left: -14px;
  width: 14px;
  height: 30px;
  margin-top: 1px;
  background: #ffe500;
}

.button-reload {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  margin: 15px;
  overflow: inherit;
  fill: #666;

  &:hover {
    fill: #888;
  }
}

.button-back {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  margin: 5px 15px;
  fill: #666;

  &:hover {
    fill: #888;
  }
}
