.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 20px;
  background: var(--secondary-bg-color);

  .profile-menu {
    margin-left: 10px;
  }
}

.links {
  margin-left: auto;
}

.login-btn {
  text-decoration: underline;
}
