.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 20px;
  background: var(--secondary-bg-color);

  .user-menu {
    margin-left: 15px;
  }

  .icon {
    vertical-align: middle;
    fill: var(--primary-color);
  }

  .notifications {
    max-height: 300px;
    overflow-y: auto;
  }
}

.links {
  margin-left: auto;
}

.login-btn {
  text-decoration: underline;
}
