.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  button {
    margin-left: auto;
  }

  .edit-btn {
    margin-left: 10px;
  }

  .avatar-wrapper {
    margin-right: 15px;
  }
}
